.boxContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.boxcardHead{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.boxCardContainer {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;

}

.userInfo{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap:5px;
}


.cardsList{
    display: flex;
    flex-direction: column;
    gap:10px;
}

